@font-face {
	font-family: "Comfortaa";
	font-weight: 400;
	font-display: fallback;
	src: url("/fonts/Comfortaa-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Comfortaa";
	font-weight: 700;
	font-display: fallback;
	src: url("/fonts/Comfortaa-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-display: fallback;
	src: url("/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-display: fallback;
	src: url("/fonts/Roboto-Bold.woff2") format("woff2");
}
:root {
	--malar-font-size: 16px;
	--malar-font-family-primary: "Roboto",Sans-serif;
	--malar-color-first: #FAA916;
	--malar-color-second: #FBFFFE;
	--malar-color-third: #6D676E;
	--malar-color-fourth: #1B1B1E;
	--malar-color-fifth: #96031A;
	--malar-color-white: #FFFFFF;
	--ivmed-color-fifth-hover: #4eaff9;
	--ivmed-color-primary: #3388FF;
	--ivmed-color-tertiary: #8000C1;
	--vivita-color-grey: #cccccc;
	--vivita-color-white: #ffffff;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	touch-action: manipulation;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", ui-sans-serif, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000;
}
input,
textarea {
	width: 100%;
	font-family: inherit;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
}
input[type="submit"] {
	width: auto;
	display: inherit;
	color: #fff;
	background: #4f8bce;
	padding: 16px 50px;
	margin: 30px auto 0;
	cursor: pointer;
}
iframe {
	max-width: 100%;
	vertical-align: middle;
	border: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h2 {
	margin-bottom: 30px;
	font-family: "Comfortaa";
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	color: #243580;
}
h3 {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #243580;
}
p {
	margin: 15px 0;
	font-size: 14px;
	color: #303030;
}
ul {
	margin: 0 0 20px 40px;
	font-size: 14px;
	color: #303030;
}
ul li {
	padding-left: 0;
	margin-bottom: 15px;
	list-style: disc;
	background: none;
}
ul li::marker {
	font-size: 12px;
}

.container {
	position: relative;
	max-width: 1170px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
/*header*/
.main-header.sticky {
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	transition: display .2s;
}
.main-header.sticky > .main-header__nav {
	background:none;
}
.main-header__nav{
	background: linear-gradient(var(--malar-color-white), var(--malar-color-third));
	padding: 15px;
}
.main-header__top> .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
}
.main-header__logo{
	width: 50px;
}
.main-header__phone-link{
	color: var(--malar-color-fourth);
	text-decoration: none;
	font-weight: bold;
	font-size: var(--malar-font-size);
}
.main-header__phone-link:hover{
	color: #61722b;
}
.fa-solid{
	margin-right: 10px;
}
.main-header__place{
	display: none;
	color: var(--malar-color-fourth);
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.fa-instagram{
	animation: spin 2s linear 0s infinite;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2em;
}
.main-header__hamburger{
	border: none;
	touch-action: manipulation;
	width: 50px;
	cursor: pointer;
}
.main-header__hamburger-inner, .main-header__hamburger-inner::before, .main-header__hamburger-inner::after {
	position: absolute;
	width: 30px;
	height: 4px;
	background-color: var(--malar-color-fourth);
	border-radius: 3px;
}
.main-header__hamburger-inner:after,
.main-header__hamburger-inner:before{
	content: "";
	display: block;
	transition-duration: 0.3s, 0.3s;
}
.main-header__hamburger-inner:before {;
	top: 10px;
}
.main-header__hamburger-inner:after {
	top: -10px;
}
.main-header__hamburger.is-active .main-header__hamburger-inner {
	background: 0 0;
}
.main-header__hamburger.is-active .main-header__hamburger-inner:before {
	top: 0;
	transform: rotate(45deg);
}
.main-header__hamburger.is-active .main-header__hamburger-inner:after {
	top: 0;
	transform: rotate(-45deg);
}
.main-header__list{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	margin: 0 auto;
	width: fit-content;
}
.main-header__list-item{
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.main-header__list-link{
	text-decoration: none;
	font-size: 18px;
	color: var(--malar-color-fourth);
	font-weight: 700;
}
.main-header__list-link:hover{
	color: #61722b;
}
.main-button {
	display: block;
	width: fit-content;
	max-width: 100%;
	height: fit-content;
	border-radius: 50px;
	background-color: var(--malar-color-second);
	color: var(--vivita-color-white);
	font-weight: 700;
	font-size: 16px;
	text-transform: none;
	text-decoration: none;
	cursor: pointer;
	background-image: linear-gradient(110deg,#ff9800,rgba(105,213,67,.25));
	transition: background-image .4s ease-in,background-color .4s ease-in,border-color .4s ease-in,box-shadow .4s ease-in,-webkit-box-shadow .4s ease-in;
}
.main-button:hover {
	background-color: var(--malar-color-first);
	background-image: linear-gradient(110deg,rgba(105,213,67,.25),#ff9800);
}
.main-header__button{
	padding: 10px 25px;
	margin: 0 auto;
}
@media screen and (max-width: 992px) {
	.main-header__top{
		height: 80px;
	}
	.main-header__phone {
		margin-left: auto;
	}
	.main-header__insta {
		margin-left: auto;
	}
	.main-header__nav {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: transform 0.3s ease 0s;
		overflow: hidden;
		transform: translate(-100%, 0px);
	}
	.main-header__nav.is-active {
		transform: translate(0%, 0px);
	}
	.main-header__list{
		margin-bottom: 15px;
	}
	.main-header__list-item{
		padding: 5px 50px;
		background: var(--malar-color-first);
		width: 100%;
	}
}
@media screen and (min-width: 992px) {
	.main-header__top > .container {
		justify-content: space-around;
	}
	.main-header__place {
		display: block;
	}
	.main-header__hamburger{
		display: none;
	}
	.main-header__button{
		display: none;
	}
	.main-header__list {
		flex-direction: row;
		justify-content: center;
		gap: 50px;
	}
	.main-header__list-item{
		margin: 0;
	}
	.main-header.sticky > .main-header__top {
		display: none;
	}
}
/*header content*/
.page-header {
	background-image: linear-gradient(90deg, #f2f3f7 0%, #e5eff100 70%), url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/home.webp);
	background-position: -115px 0px;
	background-size: 130%, 240%;
	margin-bottom: 50px;
	padding-bottom: 25px;
}
.page-header_title{
	color: var(--malar-color-fourth);
	font-size: 38px;
	line-height: 1.5;
	text-align: center;
}
.page-header__list {
	margin: 0;
}
.list__item {
	list-style-type: none;
}
.list__item::before {
	content:url("https://nyashka-enotik.github.io/kiev-malyar.github.io/img/checkmark_checked_icon.svg");
	position: absolute;
}
.list__paragraph{
	font-size: 16px;
	color: var(--malar-color-fourth);
	margin: 0 0px 20px 30px;
}
.page-header__button{
	padding: 16px 32px;
	line-height: 1;
	margin: 0 auto;
}
.page-service__button,
.page-advantages__button,
.page-photo__button {
	padding: 8px 32px;
	margin: 0 auto;
}
@media screen and (min-width: 1024px) {
	.page-header {
		background-position: 50% 50%;
		background-size: 100%;
	}
	.page-header_title {
		font-size: 68px;
		text-align: center;
	}
	.page-header__block{
		padding: 25px 0;
	}
	.page-header__paragraph{
		font-size: 28px;
	}
}
.page-title{
	font-size: 34px;
	text-align: center;
	color: var(--malar-color-first);
}
.page-section {
	margin: 50px 0;
}
/*service*/
.page-service__table {
	font-family: "Comfortaa", Sans-Serif;
	font-size: 14px;
	width: inherit;
	text-align: left;
	border-collapse: collapse;
	background: var(--malar-color-third);
	margin-bottom: 25px;
}
.page-service__table th {
	color: var(--malar-color-first);
	border-bottom: 1px solid #37B5A5;
	padding: 12px 17px;
}
.page-service__table td {
	color: var(--malar-color-second);
	border-bottom: 1px solid #37B5A5;
	border-right:1px solid #37B5A5;
	padding: 0px 10px;
}
.page-service__td.page-service__td-icon{
	padding: 0px 30px;
}
.page-service__table tr:last-child td {
	border-bottom: none;
}
.page-service__table td:last-child {
	border-right: none;
}
.page-service__table tr:hover td {
	color: var(--malar-color-first);
	cursor: pointer;
}
.page-service__table tr:hover td.page-service__td-icon {
	background: var(--malar-color-first);
}
.page-service__td-icon {
	height: 60px;
	width: 60px;
}
.page-service__td-icon--plastering {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/plastering.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/plastering.svg) no-repeat 50% 50%;
}
.page-service__td-icon--primer {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/primer.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/primer.svg) no-repeat 50% 50%;
}
.page-service__td-icon--concretecontact {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/concretecontact.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/concretecontact.svg) no-repeat 50% 50%;
}
.page-service__td-icon--putty-start {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/putty-start.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/putty-start.svg) no-repeat 50% 50%;
}
.page-service__td-icon--fiberglass {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/fiberglass.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/fiberglass.svg) no-repeat 50% 50%;
}
.page-service__td-icon--putty-finish {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/putty-finish.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/putty-finish.svg) no-repeat 50% 50%;
}
.page-service__td-icon--painting {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/painting.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/painting.svg) no-repeat 50% 50%;
}
.page-service__td-icon--grinder {
	background-color: white;
	-webkit-mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/grinder.svg) no-repeat 50% 50%;
	mask: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/grinder.svg) no-repeat 50% 50%;
}


@media screen and (min-width: 1024px) {
	.page-service__table td {
		padding: 15px 50px;
	}
	.page-service__td.page-service__td-icon {
		padding: 15px 50px;
	}
}
/*advantages*/
.page-advantages__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px 0;
	margin-bottom: 25px;
}
.page-advantages__item {
	margin: 20px;
	max-width: 300px;
	height: 350px;
	text-align: center;
	box-shadow: 0px 6px 20px 0px rgb(51 136 255 / 15%);
	margin: 0px 16px 0px 16px;
	padding: 140px 35px 40px 35px;
	background-position: top;
	border-radius: 20px;
}
.page-advantages__subtitle {
	color: var(--malar-color-fourth);
	margin-top: 10px;
	font-size:18px
}
/*step*/
.page-steps {
	background: linear-gradient(#ffffff, var(--malar-color-third));
	padding: 25px 0 50px 0;
}
.page-steps_container {
	display: grid;
	text-align: center;
	gap: 25px 0;
	margin-bottom: 50px;
}
.page-step {
	counter-increment: item;
}
.page-step:before{
	content: counter(item);
	font-size: 2rem;
	font-weight: bold;
	background-color: #ffbb00;
	color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px auto;
}
.page-step__title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.page-step__description {
	font-size: 1.2rem;
	color: #555;
	line-height: 1.5;
}
.page-step:nth-of-type(n+4) > .page-step__title,
.page-step:nth-of-type(n+4) > .page-step__description{
	color: #ffffff;
}
.page-step__button {
	padding: 8px 32px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.page-steps_container {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 1024px) {
	.page-steps_container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
/*photo*/
.page-photo{
	display: grid;
	gap: 25px;
	margin-bottom: 50px;
}
.page-photo__item{
	height: 300px;
}
.page-photo img{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	object-fit: cover;
	transition: transform 0.4s;
}
.page-photo img:hover{
	cursor: zoom-in;
	transform: scale(1.1);
}
.photo-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.photo-overlay img {
	max-width: 100%;
	max-height: 100%;
}
.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: #fff;
	background-color: var(--malar-color-first);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
@media screen and (min-width: 768px) {
	.page-photo {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 1024px) {
	.page-photo {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
/*reviews*/
.fa-quote-left{
	color:var(--malar-color-first);
}
.page-reviews__text{
	text-align: center;
}
.page-reviews__title {
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
	color: var(--malar-color-third);
}
.reviews-pagination{
	position: relative;
	margin: 50px 0 25px 0;
	display: flex;
	justify-content: center;
	gap: 30px;
}
.reviews-swiper .swiper-pagination-bullet{
	background: var(--malar-color-first);
	width: 10px;
	height: 10px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	opacity: 0.25;
}
.reviews-swiper .swiper-pagination-bullet-active{
	opacity: 1;
}
.reviews-button-prev,
.reviews-button-next{
	position: absolute;
	z-index: 1;
	border: none;
	top: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.reviews-button-prev{
	background: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/reviews-arrow-previous.svg) no-repeat;
}
.reviews-button-next{
	background: url(https://nyashka-enotik.github.io/kiev-malyar.github.io/img/reviews-arrow-next.svg) no-repeat;
	right: 0;
}
/*form*/
.page-form{
	background: linear-gradient(#ffffff, var(--malar-color-third));
}
.contact-form {
	padding: 25px 0 50px 0;
	position: relative;
	transform: none !important;
	transition: none;
}
.contact-form-fieldset {
	border: none;
}
.contact-form-fieldset-title {
	margin-bottom: 25px;
	font-family: "Comfortaa";
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	color: var(--malar-color-third);
}
.contact-form-fieldset-input {
	display: block;
	height: 47px;
	margin-bottom: 15px;
	border: 1px solid #bbb;
	border-radius: 3px;
	color: #fff;
	outline: none;
	transition: border-color 0.15s;
}
.contact-form-fieldset-input:focus {
	border-color: #fff;
}
.contact-form-fieldset-input::placeholder {
	color: #bbb;
	font-size: 14px;
}
.contact-form-fieldset-submit {
	display: block;
	width: 100%;
	height: 45px;
	padding: 0;
	margin: 30px 0 0;
	border: none;
	border-radius: 3px;
	font: inherit;
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--malar-color-first);
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.15s, opacity 0.15s;
}
.contact-form-fieldset-submit:hover,
.contact-form-fieldset-submit:focus-visible {
	background-color: #d28800;
	box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%) inset, 0 0.3px 0.9px 0 rgb(0 0 0 / 11%) inset;
	opacity: 0.9;
}
.form-window {
	contain: strict;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 148800;
	overflow: hidden;
	transition: opacity 0.4s ease-in-out;
}
.form-alert {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 450px;
	height: 100%;
	padding: 60px 30px 80px;
	margin: 0;
	background: var(--malar-color-first);
	overflow-y: auto;
}
.form-alert .form-alert-title {
	font-family: "Comfortaa";
	font-weight: 700;
	font-size: 25px;
	line-height: 35px;
}
.form-alert p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
}
.close-btn {
	display: block;
	width: 100%;
	height: 45px;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #61722bc2;
	cursor: pointer;
	transition: background-color 0.15s;
}
.close-btn:hover {
	background-color: #61722b;
}
@media screen and (min-width: 1024px){
	.form-alert {
		right: calc(50% - 225px);
		height: auto;
		top: calc(60% - 375px);
		border-radius: 10px;
		box-shadow: 0 5px 20px 10px #00000033;
	}
	.contact-form-fieldset {
		max-width: 560px;
	}
}
/*footer*/
.page-footer{
	background: var(--malar-color-third);
}
.page-footer__container{
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.page-footer__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page-footer__logo {
	width: 100px;
	margin: 20px 0;
}
.page-footer__text {
	color: #fff;
	font-size: 16px;
	margin-bottom: 15px;
}
.page-footer__title {
	color: white;
	font-size: 28px;
	margin: 15px 0;
}
.page-footer__contact{
	display: flex;
	gap: 25px;
	align-items: center;
}
.page-footer__phone-link{
	color: var(--malar-color-second);
	text-decoration: none;
	font-weight: bold;
	font-size: var(--malar-font-size);
}
.page-footer__phone-link:hover {
	color: var(--malar-color-first);
}
.page-footer__footer-bottom{
	color: var(--malar-color-white);
	font-size: 14px;
	text-align: center;
	padding: 20px 15px 15px;
}

@media screen and (min-width: 1024px) {
	.page-footer__container{
		flex-direction: row;
	}
	.page-footer__column {
		width: 33%;
	}
}
